body{
    background-color: #fff;
     
}
:root{
        --primary:rgba(0, 252, 84, 0.856);

}

.btn-success{
    background-color: rgb(41, 192, 41);
    border: none;
}
.btn-success:hover{
    background-color: rgb(6, 184, 15);
}


/* .land{
    height: 100vh;
    background-image: url(../images/vaction1.jpg) ;
    background-size:cover;
    background-position: bottom;
    width: 100%;
} */
/* .land::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.473);
} */
.a-header{
    font-size: 25px;
}
.nav-link{
    font-size: 20px;
    position: relative;
    z-index: 10;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    content: "";
    position: absolute;
    height: 00%;
    width: 0%;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
    /* border-radius: 10%; */

}
.nav-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
}
.nav-item::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    opacity: 0;
    transition: .5s;
    /* border-radius: 10%; */

}

.nav-item:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}
.overlay, .overlay2{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);

}
.grad{
    background-image: -webkit-linear-gradient(to right,rgb(89, 233, 89), rgb(52, 248, 13), rgb(0, 255, 128));
    background-image: -moz-linear-gradient(to right,rgb(6, 241, 6), greenyellow),rgb(0, 255, 128);
    background-image: -ms-linear-gradient(to right,rgb(0, 255, 0),greenyellow,rgb(0, 255, 128));
    background-image: linear-gradient(to bottom,rgb(200, 255, 0) ,rgb(31, 245, 12),rgb(0, 255, 98), rgb(179, 255, 0));
    -webkit-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;

}

.price{
    font-family: "Caveat", sans-serif;   
    font-size: 30px;
    font-weight: bold;
}
section{
    margin: 100px 0;
}
.title{
    font-family: "Caveat",sans-serif;
    font-size: 40px;
    font-weight:600;
}
span{
    color: green;
    
}
.img-fluid{
    height: 100% ;
    
}
.card-rest{
    transition: .5s;
    
}
.card-rest:hover{
    transform: scale(1.03);
}

.im1, .im2{
    transition: .5s;
}
.im1:hover{
    transform: rotateZ(3deg);
}

.im2:hover {
    transform: rotateZ(-2deg);
}
.choose-card{
    position: relative;
    z-index: 3;
}
.choose-card::before{
    z-index: -1;
    transition: 1s;
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    right:0%;
    background-color: rgba(144, 255, 144, 0.616);
   
}
.choose-card::after {
    z-index: -1;
    transition: 1s;
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0%;
    background-color: rgba(144, 255, 144, 0.521);

}
.choose-card:hover::before, .choose-card:hover::after{
   
    width: 100%;
    height: 100%;
    
}
.star{
    color: gold;
}
.drink-p{
    color: green;
    font-size: 25px;
}

.con, .con2{
    overflow: hidden;
    box-shadow: 0px 0px 30px 1px rgb(175, 173, 173);
    
}

.con{
    border-left: 6px solid var(--primary);
    transition: .5s;
}
.mid{
    border-right: 6px solid var(--primary);
    border-left: none;
}
.pop-title{
    width: fit-content;
}
.pop-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    /* height: 5%; */
    border-bottom: 4px solid rgba(0, 252, 84, 0.856);
    transition: .5s;
}
.con:hover .pop-title::after{
    width: 100%;
}
.con:hover{
    transform: scale(1.03);
}
.content::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 110%;
    bottom: -1%;
    right: -25px;
    background-color: rgb(241, 241, 241);
    transform: Rotate(-5deg);
}

.content-mid::before {
    
    content: "";
    position: absolute;
    width: 8%;
    height: 110%;
    top: -1%;
    left: -25px;
    background-color: rgb(241, 241, 241);
    transform: Rotate(5deg);
}
/* .mid{
    transform: rotateX(180deg) rotateZ(180deg);
}
.con-mid{
    transform: rotateY(180deg);
} */
/* .carousel::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.336);
} */
.img-overlay{

    top: 0;
    left: 2.5%;
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    opacity: 0;
    transition: .5s;
    
}
.img-overlay:hover{
    
    opacity: 1;

}
.overlay2{
    background: linear-gradient(to bottom, rgb(34, 41, 34), rgba(107, 107, 107, 0.637));
    /* transition: .5s; */
}
.card1, .card2, .card3{
    background-size: cover;
    transition: .5s;
}
.card1{
    background-image: url(../images/vaction2.jpg);
}
.card2{
    background-image: url(../images/vaction3.jpg);
}
.card3{
    background-image: url(../images/vaction4.jpg);
}
.card1:hover, .card2:hover, .card3:hover{
    
    transform: scale(.9);
}

.card1:hover .overlay2, .card2:hover .overlay2, .card3:hover .overlay2{

    background: linear-gradient(to bottom, rgb(82, 155, 82), rgba(67, 143, 92, 0.637));
}
.grow{
    background-image: url(../images/vaction3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.grow-icon{
    font-size: 35px;
    color:var(--primary)
}
.num{
    color: var(--primary);
}


.book{
    background-image: url(../images/vaction5.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.foot-icon {
    font-size: 20px;
    border-radius: 50%;
    /* background-color: var(--primary); */
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    /* margin-top: 10%; */
}
footer li {
    font-size: 14px;
    color: white;
    list-style: none;
    margin: 15px 0;

}
footer a{
    text-decoration: none;
}

footer li:hover {
    text-decoration: underline;
}

